
/* fluid container for resonsive sizing */
.container-fluid {
    background-color: white;
    padding: 30px;
    padding-top: 0px;
    border-radius: 20px;
    /* boxshadown taken rom https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    max-width: 1200px;
}

/* back to search button */
.backButton {
    display: flex;
    border-radius: 0px 0px 10px 10px;
    font-size: larger;
    border: none;
    margin-left: none;
    height: 30px;
    align-items: center;
    transition: 0.2s;
    margin-left: 20px;
}

.backButton:hover {
    background-color: lightgray;
}

/* instructions section */
.textContent {
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Food name */
#topBar h1 {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

/*container for the mainphoto and ingredients */
.mainContainer {
    display: flex;
    justify-content: center;
}

/* left half of the maincontainer */
.leftSide {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


/* right half of the maincontainer */
.rightSide {
    display: grid;
    margin-left: 30px;
    margin-right: 70px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-content: center;
}

/* ingredient sizing and aligning */
#ingredient {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    /* box shadow taken from https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#ingredientPhoto {
    max-width: 100px;
}

/* main photo aligning and sizing */
#mainPhoto {
    height: fit-content;
    border-radius: 20px;
    margin-left: 9px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* media query for full desktop */
@media (max-width: 1200px) {
    .content {
        display: flex;
        align-items: center;
    }

    .leftSide {
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    #mainPhoto {
        width: 700px;
        margin: 0px;
    }

    .mainContainer {
        flex-direction: column;
    }

    .rightSide {
        margin: auto;
        margin-top: 20px;
    }
}

/* media query for smaller screen */
@media (max-width: 700px) {
    .content {
        display: flex;
        align-items: center;
    }

    .textContent {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .leftSide {
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    #mainPhoto {
        width: 500px;
        margin: 0px;
    }

    .mainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rightSide {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        gap: 10px;
    }

    .img-fluid {
        width: 90px;
    }

    #ingredient {
        justify-content: start;
        padding-top: 6px;
    }
}

/* html and body adjustments and background blur effect */
body,
html {
    margin: 0px;
    padding: 0px;
    backdrop-filter: blur(30px);
    background-size: cover;
    overflow: auto;
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    padding: 20px;
}
